<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nCubed" type="RaraAvis.nCubed.Core.Configurations.N3Section,RaraAvis.nCubed.Core" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" requirePermission="true" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --> </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <nCubed>
    <System activityId="BA175F79-DED1-41DC-8D58-4A41AD6EE045" logId="E1273310-AE0F-41D7-B73F-F07C0D78049E">
      <Database activityId="F93BBB87-A4B7-436A-8772-A387EE1499D0" sqlCommandTimeOut="10" logSql="True" />
      <Retry>
        <Process retryName="Process" retryCount="2" firstFastRetry="False" retryInterval="3000" />
        <Database retryName="Database" retryCount="4" firstFastRetry="False" initialRetry="2000" incrementalRetry="4000" />
        <Messaging retryName="Messaging" retryCount="10" firstFastRetry="False" minBackOff="1000" maxBackOff="8000" deltaBackOff="1000" />
      </Retry>
    </System>

    <DDD activityId="9F36F387-D738-4DAB-BFF9-3D1445C03435">
      <typesConfiguration>
        <applicationServices>
          <types>
            <type key="Test1" file="RaraAvis.nCubed.DDD.Test.dll" />
          </types>
        </applicationServices>
        <domainServices>
          <types>
            <type key="Test1" file="RaraAvis.nCubed.DDD.Test.dll" />
          </types>
        </domainServices>
        <repositories>
          <types>
            <type key="Test1" file="RaraAvis.nCubed.DDD.Test.dll" />
          </types>
        </repositories>
      </typesConfiguration>
    </DDD>
  </nCubed>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.QualityTools.Testing.Fakes" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.SemanticLogging" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>