<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nCubed" type="RaraAvis.nCubed.Core.Configurations.N3Section,RaraAvis.nCubed.Core" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" requirePermission="true" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <nCubed>
    <System activityId="BA175F79-DED1-41DC-8D58-4A41AD6EE045" logId="E1273310-AE0F-41D7-B73F-F07C0D78049E">
      <Database activityId="F93BBB87-A4B7-436A-8772-A387EE1499D0" sqlCommandTimeOut="10" logSql="True" />
      <Retry>
        <Process retryName="Process" retryCount="3" firstFastRetry="True" retryInterval="10" />
        <Database retryName="Database" retryCount="3" firstFastRetry="True" initialRetry="1" incrementalRetry="1" />
        <Messaging retryName="Messaging" retryCount="3" firstFastRetry="True" minBackOff="1" maxBackOff="3" deltaBackOff="100" />
      </Retry>
      <typesConfiguration>
        <commonTypes>
          <types>
            <type key="TST" file="Optimissa.nCubed.Core.Test.dll" />
          </types>
        </commonTypes>
      </typesConfiguration>
    </System>
  </nCubed>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>