<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="nCubed" type="RaraAvis.nCubed.Core.Configurations.N3Section,RaraAvis.nCubed.Core" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --> </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <nCubed>
    <System activityId="BA175F79-DED1-41DC-8D58-4A41AD6EE045" logId="E1273310-AE0F-41D7-B73F-F07C0D78049E">
      <Database activityId="F93BBB87-A4B7-436A-8772-A387EE1499D0" sqlCommandTimeOut="10" logSql="True" />
      <Retry>
        <Process retryName="Process" retryCount="2" firstFastRetry="False" retryInterval="3000" />
        <Database retryName="Database" retryCount="4" firstFastRetry="False" initialRetry="2000" incrementalRetry="4000" />
        <Messaging retryName="Messaging" retryCount="10" firstFastRetry="False" minBackOff="1000" maxBackOff="8000" deltaBackOff="1000" />
      </Retry>
    </System>
    <CQRS activityId="42213A18-5022-4D5E-850C-7CFDA4574D3E">
      <typesConfiguration>
        <serializeTypes>
          <commands>
            <types>
              <type key="OMSApplication" path="" file="RaraAvis.nCubed.CQRS.Test.dll" />
            </types>
          </commands>
        </serializeTypes>
        <bus>
          <types>
            <type key="OMS" file="RaraAvis.nCubed.CQRS.Test.dll" />
            <type key="EDT" file="RaraAvis.nCubed.CQRS.Core.dll" />
            <type key="EDI" file="RaraAvis.nCubed.CQRS.Infrastructure.dll" />
            <type key="SER" file="RaraAvis.nCubed.Core.dll" />
            <type key="MNG" file="RaraAvis.nCubed.Core.Messaging.dll" />
            <type key="INF" file="RaraAvis.nCubed.Core.Infrastructure.dll" />
          </types>
        </bus>
        <commandHandlers>
          <types>
            <type key="OMS" file="RaraAvis.nCubed.CQRS.Test.dll" />
            <type key="EDT" file="RaraAvis.nCubed.CQRS.Core.dll" />
            <type key="EDI" file="RaraAvis.nCubed.CQRS.Infrastructure.dll" />
            <type key="SER" file="RaraAvis.nCubed.Core.dll" />
            <type key="MNG" file="RaraAvis.nCubed.Core.Messaging.dll" />
            <type key="INF" file="RaraAvis.nCubed.Core.Infrastructure.dll" />
          </types>
        </commandHandlers>
      </typesConfiguration>
    </CQRS>
  </nCubed>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.QualityTools.Testing.Fakes" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>